.App {
  text-align: center;
}
.img-header {
  border: 10px outset green;
  width: 150px;
  background-image: url(https://thumbs.gfycat.com/EntirePeriodicBear-size_restricted.gif);
}
.App-header {
  background-color: #000000;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}
.navbar {
  color: rgb(236, 10, 10);
  padding: 20px 80px;
  display: block;
  list-style: none;
  display: flex;
}
.App-link {
  color: #08fc00;
}
li {
  margin-right: 20px;
}
button {
  box-shadow: 0px 4px 3px;
  border-radius: 50px;
  width: 190px;
  height: 45px;
  text-decoration: none;
  background-image: url(https://thumbs.gfycat.com/EntirePeriodicBear-size_restricted.gif);
}
a {
  text-decoration: none;
  color: white;
}
.botonCarrito {
  background: rgb(14, 235, 6);
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 0px;
  border-radius: 20px;
  width: 110px;
  height: 50px;
}
.botonCarrito1 {
  box-shadow: 0px 4px 3px;
  border-radius: 50px;
  width: 120px;
  height: 70px;
  text-decoration: none;
  background: rgb(160, 170, 13);
  color: rgb(0, 0, 0);
  position: fixed;
  top: 42%;
  left: 90%;
  transform: translate(10%, -20%);
}
body {
  background: linear-gradient(rgb(0, 0, 0), rgb(51, 3, 3));
  font-size: 1.6rem;
}
h1 {
  color: rgb(255, 255, 255);
  background-image: url(https://thumbs.gfycat.com/EntirePeriodicBear-size_restricted.gif);
  font-family: "Uchen", serif;
  padding: 20px 10px 40px;
}
h2 {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h3 {
  color: aqua;
}
.mercaderia-item {
  float: left;
  align-items: center;
  border: 5px solid whitesmoke;
  width: 300px;
  height: 640px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 7px white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.205);
}
p {
  color: whitesmoke;
}
